.top {
  height: 60px;
  background-color: blueviolet;
}
.top1 {
  height: 60px;
  background-color: blueviolet;
}
.top2 {
  height: 60px;
  background-color: blueviolet;
}
.top3 {
  height: 60px;
  background-color: blueviolet;
}
