.posts-detail {
  margin: 10px auto 0;
  box-sizing: border-box;
  width: 1200px;
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 2px 2px 8px 0px #81817a;
  transition: all 0.4s;
  &:hover {
    box-shadow: 2px 2px 15px 0px #81817a;
  }
  .posts-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #252933;
    .title {
      font-weight: bold;
      font-size: 28px;
    }
    .time {
      width: 250px;
      font-size: 14px;
    }
  }
  .posts-content {
    text-indent: 2em;
    line-height: 30px;
    margin-top: 40px;
    font-size: 16px;
    word-break: break-all;
    min-height: 300px;
    color: #333;
  }
}
