.home {
}

.posts-list {
  box-sizing: border-box;
  background-color: #fff;
  width: 1200px;
  min-height: 500px;
  margin: 20px auto;
  padding: 15px 20px;
  overflow: hidden;
  border-radius: 8px;
  transition: all 0.5s;
  box-shadow: 2px 2px 8px 0px #81817a;
  &:hover {
    box-shadow: 2px 2px 15px 0px #81817a;
  }
  .posts-item {
    padding: 15px 0;
    border-bottom: 1px dashed #ccc;
    transition: all 0.5s;
    &:hover {
      cursor: pointer;
      .posts-title {
        color: #06f;
        font-size: 19px;
      }
    }
    .posts-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      transition: all 0.5s;
      .title {
        font-weight: bold;
        font-size: 18px;
      }
      .time {
        width: 250px;
        font-size: 14px;
      }
    }
    .posts-cont {
      height: 30px;
      margin-top: 15px;
      font-size: 15px;
      word-break: break-all;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 2;
      display: -webkit-box;
      -webkit-box-orient: vertical;
    }
  }
}
